:root {
  --font-family-inter: 'Inter', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;

  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-18: 18px;
  --font-size-20: 20px;

  --color-light: rgba(255, 255, 255, 1);
  --color-background: rgba(235, 238, 243, 1);
  --color-dark-85: rgba(0, 0, 0, 0.85);
  --color-dark-75: rgba(0, 0, 0, 0.75);
  --color-dark-50: rgba(0, 0, 0, 0.5);
  --color-accent: rgba(24, 144, 255, 1);
  --color-success: rgba(82, 196, 26, 1);
  --color-like: rgba(255, 7, 7, 1);
  --color-red: rgba(245, 34, 45, 1);
  --color-placeholder: rgba(191, 191, 191, 1);

  --box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  --border-radius: 5px;

  --width-post: 938px;
  --height-post: 140px;

  --width-card: 200px;
  --width-title: 650px;

  --width-form: 320px;
  --height-form: 40px;

  --width-form-new-article: 874px;
  --height-form-new-article-aria: 168px;
}
